ul.nav.nav-pills.nav-stacked
  li(role="presentation")
    a(href="/admin/user") 用户管理
  li(role="presentation")
    a(href="/admin/store") 仓库管理
  li(role="presentation")
    a(href="/admin/activity") 活动消耗
